body {
  background-color: rgb(240, 240, 240);  
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin: 0;
}

#banner {  
  background-image: url("https://unsplash.it/1300/600?random");
  background-size: cover;
  color: white;
  padding: 150px;  
  text-align: center;
  text-shadow: 1px 1px 5px black;
}

#banner h1 {
  color: white;
  font-size: 50px;
}

#banner p {
  color: white;
  font-size: 30px;
  font-weight: lighter;
}

.cards {
  font-weight: lighter;
  padding: 50px;
}

#footer {  
  background: rgb(30, 30, 30);
  color: lightgrey;
  padding: 30px;
  text-align: center;
}

#footer a {
  color: lightgrey;
  font-size: 15px;
}

#footer a:hover {
  color: white;
}
